<!-- Portfolio Grid -->
{% for section in site.sections %}
<section class="bg-light page-section" id="portfolio">
  <div class="container portfolio-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ section.title | markdownify | default:
          "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ section.subtitle | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
      {% assign entries = site.entries | where: 'section', section.title %}
      {% for project in entries %}
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: " fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <div class="portfolio-img-container">
            <img class="img-fluid portfolio-img w-100" src="{{ project.caption.thumbnail }}" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <div class="portfolio-icons">
            {% for toolname in project.tools %}
            <i class=" {{ site.data.utils.devicons[toolname].icon }}"></i>
            <!-- <i class="devicon-opengl-plain"></i>
            <i class="devicon-cplusplus-plain"></i>
            <i class="devicon-github-original"></i> -->
            {% endfor %}
          </div>
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
{% include modals.html %}